<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/css/dashboard_style.css">
    </head>

    <body class="home">
        
        
        <!-- <form action="/logout" method="GET">
        <button class="btn btn-dangerous">Logout</button>
        </form> -->
<!-- 
        <div class="navbar">
            <div class="navi">
                <ul class="nav-menu">
                    <li>
                        <form action="/courtregistrar/dashboard" method="GET">
                            <button type="submit">
                                <i class="fas fa-home"></i>
                                <span class="hidden-xs hidden-sm">Dashboard</span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <form action="/courtregistrar/add_case_pg1" method="GET">
                            <button type="submit">
                                <i class="fas fa-plus"></i>
                                <span class="hidden-xs hidden-sm">Add Case</span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <form action="" method="GET">
                            <button type="submit">
                                <i class="fas fa-bell"></i>
                                <span class="hidden-xs hidden-sm">Notifications</span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <form action="/logout" method="GET">
                            <button type="submit">
                                <i class="fas fa-sign-out"></i>
                                <span class="hidden-xs hidden-sm">Log Out</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div> -->

        <h1><i class="fa fa-dashboard" style="font-size:48px;color:black"></i>
            <b><%= f_name %>'s Dashboard</b></h1>
        <div class="container-fluid">
            <div class="row display-table-row">
                <div class="" id="navigation">
                    <div class="logo">
                    </div>
                    <div class="sidebar">
                        <div class="navi">
                            <ul class="nav-menu">
                                <li>
                                    <form action="/courtregistrar/dashboard" method="GET">
                                        <button type="submit">
                                            Dashboard
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="/courtregistrar/add_case_pg1" method="GET">
                                        <button type="submit">
                                            Add Case
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="" method="GET">
                                        <button type="submit">
                                            Notifications
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="logout">
                            <form action="/logout" method="GET">
                                <button type="submit">
                                    Log Out
                                </button>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>

                <%- include('./partials/messages.ejs') %>


                <caption>
                    <div align="left" style="font-size:200%;"><b>Active Cases:</b></div>
                </caption>

                <table>
                    <tr style="width:100%">
                        <th>Case Type</th>
                        <th>Case Name</th>
                        <th>Description</th>
                        <th>Case No</th>
                        <th>Hearing Date</th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>

                    <tbody>
                        <% cases.forEach((case1) => { %>
                            <% if (case1.isResolved === "N") { %>
                                <tr>
                                    <td><%= case1.case_type %></td>
                                    <td><%= case1.case_name %></td>
                                    <td><%= case1.case_descp %></td>
                                    <td><%= case1.court_case_no %></td>
                                    <td><%= case1.h_date %></td>
                                    <td>
                                        <form action="/courtregistrar/display_case_details/<%= case1._id %>" method="GET">
                                            <button type="submit">Further Details</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/courtregistrar/update_case/<%= case1._id %>" method="GET">
                                            <button type="submit">Update</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/courtregistrar/delete_case/<%= case1._id %>" method="GET">
                                            <button type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                        <% }); %>
                    </tbody>
                    
                </table>
                <br>
                
                <caption>
                    <div align="left" style="font-size:200%;"><b>Resolved Cases:</b></div>
                </caption>

                <table>
                    <tr style="width:100%">
                        <th>Case Type</th>
                        <th>Case Name</th>
                        <th>Description</th>
                        <th>Case No</th>
                        <th>Hearing Date</th>
                        <th>Details</th>
                    </tr>
                    
                    <tbody>
                        <% cases.forEach
                        (
                            (case1) => 
                            { 
                                if(case1.isResolved === "Y")
                                { %>
                                    <tr>
                                        <td><%= case1.case_type %></td>
                                        <td><%= case1.case_name %></td>
                                        <td><%= case1.case_descp %></td>
                                        <td><%= case1.court_case_no %></td>
                                        <td><%= case1.h_date %></td>
                                        <td><form action="/courtregistrar/display_case_details/<%= case1._id %>" method="GET"><button type="submit">Further Details</button></form></td>
                                    </tr>
                                <% }
                            }
                        ); %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>